<!DOCTYPE html>

<html xmlns:th="thymeleaf.org">
	<head>
		<title>Listado de Productos</title>
	</head>
	<body bgcolor="#c5dec9">
		<h1 align="center">Listado de Productos</h1>
		<h2 align="center">
			<a th:href="@{RegistrarProducto}" th:text="'Nuevo Producto'" title="Crear nuevo producto"
				class="btn btn-success"></a>
		</h2>
		<table align="center" border="2">
			<tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Precio Venta</th>
				<th>Stock</th>
				<th>Precio Compra</th>
				<th>Estado</th>
				<th>Descripcion</th>
				<th colspan="2">Acciones</th>
			</tr>
			<th:block th:each="p:${listado}">
				<tr>
					<td th:text="${p.idproductocl3}"></td>
					<td th:text="${p.nombrecl3}"></td>
					<td th:text="${p.precioventacl3}"></td>
					<td th:text="${p.stock}"></td>
					<td th:text="${p.preciocompcl3}"></td>
					<td th:text="${p.estadocl3}"></td>
					<td th:text="${p.descripcl3}"></td>
					<td><a th:href="@{editar/}+${p.idproductocl3}" th:text="Editar" title="Editar Registro"
							class="btn btn-primary"></a></td>
					<td>
						<a th:href="@{eliminar/}+${p.idproductocl3}" th:text="Eliminar" class="btn btn-warning"></a>
					</td>
				</tr>
			</th:block>
		</table>
	</body>
</html>