<!DOCTYPE html>

<html xmlns:th="thymeleaf.org">
	<head>
		<title>Registrar Producto</title>
	</head>
	<body bgcolor="c5dec9">
		<h1 align="center">Registrar Producto</h1>
		<form th:action="@{/Vistas/GuardarProducto}" method="post" th:object="${regproducto}">
		<table align="center">
			<input type="hidden" th:field="*{idproductocl3}">
			<tr><td>Nombre</td><td><input type="text" th:field="*{nombrecl3}" required></td></tr>
			<tr><td>Precio de Venta</td><td><input type="number" step="0.01" th:field="*{precioventacl3}" required></td></tr>
			<tr><td>Stock</td><td><input type="number" th:field="*{stock}" required></td></tr>
			<tr><td>Precio de Compra</td><td><input type="number" step="0.01" th:field="*{preciocompcl3}" required></td></tr>
			<tr><td>Estado</td><td><input type="text" th:field="*{estadocl3}" required></td></tr>
			<tr><td>Descripcion</td><td><input type="text" th:field="*{descripcl3}" required></td></tr>
			<tr><td  colspan="2" align="center">
				<input type="submit" value="registrar"></td>
			</tr>
		</table>			
		</form>
		<div align="center">
			<a th:href="@{/Vistas/ListadoProductos}" class="btn btn-secondary">Volver</a>
		</div>
	</body>
</html>